@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'DM Sans', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  overflow: hidden;
}

.hero-bg {
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
  min-height: 600px;
  
}

.hero-bg img {
  opacity: 0.8;
  min-height: 600px;
}

.hero-content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-text-shadow {
  text-shadow: 2px 2px 2px black;
}

.nav-link {
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: #7611f7;
}

.service-card:hover {
  border-color: #7611f7;
}

.service-card-title {
  min-height: 100;
}

@media (max-width: 500px) {
  .__nav-small {font-size: 14px;}
  .__nav-small img {
    height: 35px;
  }
}

@media (max-width: 1200px) {
  .__nav-small {font-size: 16px;}
  /* .__nav-small img {
    height: 35px;
  } */
}

.__linkedin-a {
  color: black;
}
.__linkedin-a:hover {
  color: black;
}

.hero-h1 {
  font-size: 60px;
}

.ntsa-widget {
  background: black;
  display: flex;
  justify-content: center;
}
.quote-form-container {
  max-width: 800px;
  margin: 0 auto;
}

.quote-form > div {
  margin-bottom: 1rem;
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1030;
  overflow-y: auto;
  padding-bottom: 6rem;
  transition: opacity 0.3s ease;
}

.modal-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
}

.close-button-wrapper {
  display: flex;
  justify-content: end;
}

.close-button {
  cursor: pointer;
  transform: rotate(45deg);
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .hero-h1{font-size: 40px}
  .hero-h6{font-size: 14px}
  .hero-p{font-size: 14px;}
}
@media (max-width: 400px) {
  .CRM { display: none }
}